/bin/Debug/Skaiciuotuvas.exe
/bin/Debug/Skaiciuotuvas.exe.config
/bin/Debug/Skaiciuotuvas.pdb
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/BasicCalculator.csprojAssemblyReference.cache
/obj/Debug/Calculator.Form1.resources
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Skaiciuotuvas.csproj.CoreCompileInputs.cache
/obj/Debug/Skaiciuotuvas.csproj.FileListAbsolute.txt
/obj/Debug/Skaiciuotuvas.csproj.GenerateResource.cache
/obj/Debug/Skaiciuotuvas.csprojAssemblyReference.cache
/obj/Debug/Skaiciuotuvas.exe
/obj/Debug/Skaiciuotuvas.pdb
/obj/Debug/Skaiciuotuvas.Properties.Resources.resources
